*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 1080px;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
.header{
    padding: 20px 0px;
    border-bottom: 2px solid #ECEEF2;
}
.header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu .logo{
    width: 120px;
    padding: 10px;
}
.header .menu .logo img{
    width: 100%;
}
.header .menu ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.header .menu ul li a{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 5px;
    color: #000;
}
.header .menu ul li a:hover{
    color: #008aff;
}
.banner{
    padding: 80px 0px;
    text-align: center;
}
.banner h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
    color: #0F2656;
    padding: 40px;
}
.banner h2 span{
    color: #008aff;
}
.banner p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
}
.banner .banner-img{
    width: 50%;
    margin: auto;
    padding: 20px 0px;
}
.banner .banner-img img{
    width: 100%;
}
/* .sucics-ful code start */
.sucics-ful{
    margin: auto;
    padding: 20px 0px;

}
.sucis-flui{
    display: flex;
    
}
/* .sucis-flui{
    display: flex;
    padding: 0px 10px;
    
} */
.sucis-flui .div-one{
    width: 50%;
    
}
.sucis-flui .div-one h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    text-align: end;
    color: #b62121;
}
.sucis-flui .div-one p{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    text-align: end;
}
.sucis-flui .div-to{
    width: 50%;
    padding: 0px 15px;
   
}
.sucis-flui .div-to h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #0F2656;
   
}
/*fitur code start  */
.fitur{
    padding: 70px 0px;
}
.main-fitur{
    display: flex;
    justify-content: space-between;
}
.main-fitur .fitur-one{
    width: 30%;
    padding: 30px;
    background-color: #FDEBED;
    border-radius: 10px;
}

.main-fitur .fitur-one img{
    width: 100%;
    height: 200px;
    padding: 0px 20px;
}
.main-fitur .fitur-to{
    width: 30%;
    padding: 30px;
    background-color: #EBF9F4;
    border-radius: 10px;
}
.main-fitur .fitur-to img{
    width: 100%;
    height: 200px;
    padding: 0px 20px;
}
.main-fitur .fitur-tre{
    width: 30%;
    padding: 30px;
    background-color: #f7e6c7;
    border-radius: 10px;
}
.main-fitur .fitur-tre img{
    width: 100%;
    height: 200px;
    padding: 0px 20px;
}
.fluit-conta{
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    color: #0F2656;
    margin-bottom: 10px;
}
.prag{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #0F2656;
}
/* footer */
footer{
    padding: 30px 0px;
    background-color: #008aff;
    text-align: center;
}
footer p{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}
footer p a{
    color: #EBF9F4;
    letter-spacing: 3px;
}

